*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common-font style  */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 16px auto;
}

.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 152%;
}

.nav-btn, .btn-1{
    padding: 13px 16px;
    background-color: #469165;
    border: 1px solid #469165;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.33s;
}

.nav-btn:hover{
    background-color: #ffffff;
    border: 1px solid #469165;
    color: #469165;
}

/* hero start  */
#hero{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-container{
    width: 1360px;
    padding: 116px 120px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.style-heading{
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 6px;
    background-color: #ffffff;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.style-heading h4{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.hero-heading{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
    text-transform: capitalize;
}

.hero-heading span{
    color: #469165;
}

.hero-paragraph{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 16px 0px 32px 0px;
}

.btn-1:hover{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #ffffff;
}

.btn-2{
    padding: 13px 16px;
    margin-left: 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.33s;
}

.btn-2:hover{
    background-color: #469165;
    border: 1px solid #469165;
    color: #ffffff;
}