*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common-font style  */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 16px auto;
}

.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 152%;
}

.nav-btn{
    padding: 13px 16px;
    background-color: #469165;
    border: 1px solid #469165;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.33s;
}

.nav-btn:hover{
    background-color: #ffffff;
    border: 1px solid #469165;
    color: #469165;
}