*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common-font style  */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 16px auto;
}

.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 152%;
}

.nav-btn, .btn-1{
    padding: 13px 16px;
    background-color: #469165;
    border: 1px solid #469165;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.33s;
}

.nav-btn:hover{
    background-color: #ffffff;
    border: 1px solid #469165;
    color: #469165;
}

/* hero start  */
#hero{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-container{
    width: 1360px;
    padding: 116px 120px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.style-heading{
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 6px;
    background-color: #ffffff;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.style-heading h4{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.hero-heading{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
    text-transform: capitalize;
}

.hero-heading span{
    color: #469165;
}

.hero-paragraph{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 16px 0px 32px 0px;
}

.btn-1:hover{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #ffffff;
}

.btn-2{
    padding: 13px 16px;
    margin-left: 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.33s;
}

.btn-2:hover{
    background-color: #469165;
    border: 1px solid #469165;
    color: #ffffff;
}

/* feature start  */

#features{
    background-color: #FBFBFB;
}

.features-container{
    width: 1360px;
    padding: 40px 0px;
    margin: 0 auto;
    text-align: center;
}

.feature-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}

.feature-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.feature-box{
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.feature-single-box{
    max-width: 322px;
    padding: 70px 24px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000060;
}

.feature-single-box img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.feature-single-box h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.feature-single-box p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* solution start  */

#solution{
    background-color: #FFFFFF;
}

.solution-container{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 120px;
    align-items: center;
}

.solution-img img{
    width: 100%;
}

.solution-text h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    padding-bottom: 16px;
}

.solution-text h2{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 16px;
}

.solution-text p{
    width: 70%;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 40px;
}

.solution-list{
    list-style-image: url(../assets/CheckCircle.png);
    list-style-position: inside;
}

.solution-list li{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    padding-bottom: 16px;
}

/* cta start  */

.cta-container{
    width: 1360px;
    background-color: #FBFBFB;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 80px 30px;
    text-align: center;
}

.cta-container h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    padding-bottom: 16px;
}

.cta-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    padding-bottom: 16px;
}

.cta-btn:hover{
    background-color: #ffffff;
    border: 1px solid #469165;
    color: #469165;
}

.cta-list{
    padding-top: 16px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.cta-list li{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* footer start  */

#footer{
    background-color: #001931;
}

.footer-container{
    width: 1360px;
    margin: 0 auto;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 80px;
}

.footer-icon p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.icon i{
    line-height: 35px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    margin-right: 16px;
    border-radius: 50%;
    cursor: pointer;

}

.copyright{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #627382;
}

.copyright{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}